body {
  background: #FFFFFF;
  color: #000;
  font-size: 9pt;
  font-weight: 400;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: left;
}

a:link {
  color: #666666;
  voice-family: inherit;
  cursor: pointer;
}

a:visited {
  color: #666666;
}

a:hover {
  color: #314E6C;
  voice-family: inherit;
  cursor: pointer;
}
