<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jetm="http://jetm.void.fm/schema/jetm-spring-config-1.2"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://jetm.void.fm/schema/jetm-spring-config-1.2 http://jetm.void.fm/schema/jetm-spring-config-1.2.xsd">


  <bean id="userDao" class="etm.demo.webapp.dao.UserDaoImpl"/>

  <bean id="userManagementService" class="etm.demo.webapp.service.UserManagementServiceImpl" autowire="constructor"/>

  <bean id="messagingService" class="etm.demo.webapp.service.MessagingServiceImpl" autowire="constructor"/>

  <!--
    Enable JETM performance monitoring
  -->

  <jetm:runtime type="nested">
    <jetm:features>
      <jetm:interval-buffer interval="1000" />
      <jetm:persistence>
        <jetm:file-backend filename="jetm-demo-state.ser" />
      </jetm:persistence>
    </jetm:features>
  </jetm:runtime>

  <jetm:monitoring>
    <jetm:bean-pattern>*Dao,*Service</jetm:bean-pattern>
  </jetm:monitoring>

</beans>