<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!--
    Import JETM features.
  -->
  <import resource="jetm-monitoring.xml"/>

  <bean id="userDao" class="etm.demo.webapp.dao.UserDaoImpl"/>

  <bean id="userManagementService" class="etm.demo.webapp.service.UserManagementServiceImpl" autowire="constructor"/>

  <bean id="messagingService" class="etm.demo.webapp.service.MessagingServiceImpl" autowire="constructor"/>


  <!--
    Create proxy around our service classes and daos,
    thus enabling performance monitoring for all public methods.
  -->
  <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
        singleton="false">
    <property name="interceptorNames">
      <list>
        <value>etmMethodCallInterceptor</value>
      </list>
    </property>
    <property name="beanNames">
      <value>*Dao,*Service</value>
    </property>
  </bean>
</beans>