body {
  background: #FFFFFF;
  color: #000;
  font-size: 9pt;
  font-weight: 400;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
}

a:link {
  color: #333333;
  voice-family: inherit;
  cursor: pointer;
}

a:visited {
  color: #333333;
}

a:hover {
  color: #314E6C;
  voice-family: inherit;
  cursor: pointer;
}

li a:link {
  text-decoration: none;
}

li a:visited {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;     
}


#header {
  font-size: 200%;
  font-weight: 400;
  text-align: right;
}

#subheader {
  font-size: 120%;
  font-weight: 200;
  text-align: right;
}

dd {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

dt {
  list-style-type: none;
  margin: 10px 0 5px 0;
}

#content {
  border: 1px solid #999;
  margin: auto;
  margin-top: 25px;
  width: 720px;
  text-align: left;
  background: #fff;
  padding: 15px 15px 5px 15px;
}

#main {
  margin: auto;
  margin-top: 35px;
  text-align: left;
  background: #FFFFFF;
}

#main-left {
  text-align: left;
  margin-top: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 10px;
  width: 340px;
}

#main-right {
  border-left: 1px solid #999;
  text-align: left;
  margin-top: 35px;
  padding-bottom: 0;
  padding-left: 15px;
  width: 350px;
}

#menu {
  color: #314E6C;
  padding-top: 25px;
  padding-bottom: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

#menu a {
  padding: 0 2px 0 2px;
}

#menu a:link {
  text-decoration: none;
  font-size: 8pt;
}

#menu a:visited {
  text-decoration: none;
  font-size: 8pt;
}

#menu a:hover {
  text-decoration: underline;
}

.list {
  border-spacing: 0;
  border-left: thin solid black;
  padding: 0 0 0 0;
  margin: 4px 4px 4px 4px;
}

.list th {
  border-spacing: 0;
  padding: 4px 4px 4px 4px;
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  text-align: center;
}

.list td {
  border-spacing: 0;
  margin: 2px 2px 2px 2px;
  padding: 4px 4px 4px 4px;
  border-bottom: thin solid black;
  border-right: thin solid black;
  vertical-align: top;
  text-align: left;
}

.code {
  margin: 20px 10px 25px 0;
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #eeeeee;
  border: 1px dotted black;
  font-family: courier new, courier, monospace;
  font-size: 11px;
  line-height: 110%;
}

.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

tr {
  background: #FFFFFF;
  color: #000000;
  font-size: 9pt;
  font-weight: 200;
  font-family: Verdana, Helvetica, sans-serif;
}

td {
  background: #FFFFFF;
  color: #000;
  font-size: 9pt;
  font-family: Verdana, Helvetica, sans-serif;
}

pre {
  margin: 0 0 0 0;

  color: #000000;
  padding: 0 0 0 0;
  font-family: courier new, courier, monospace;
  font-size: 11px;
  line-height: 110%;
}
